html {
	height: 100%;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url("../images/background.png");
	background-repeat: repeat;
}

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	padding-bottom: 20px ;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

hr {
	margin-bottom: 20px
}

p {
	margin: 10px 0;
}

a {
	text-decoration: none;
}

#main-logo h1, button, nav li a:hover, .project-title{
	background-color: #4aaaa5;
	color: white;
	padding: 0 20px;
}

button {
	width: 150px;
	padding: 10px;
	font-size: 20px;
	border: none;
}

header {
	width: 70%;
	padding: 0 15%;
	margin: 0 auto;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}

#main-logo {
	float: left;
	line-height: 80px;
	height: 80px;
}

nav {
	float: right;
	height: 100%;
	font-size: 20px;
}
 
nav li {
	list-style: none;
	display: inline;
	line-height: 80px;
}

nav li + li:before {
	content: " | ";
	width: max-content;
	color: #BBB;
}

nav li a{
	display: inline-block;
	height: 100%;
	padding: 0 20px;
	text-decoration: none;
	color: #BBB;
}

.container {
	width: 70%;
	min-height: calc(100vh - 240px);
	margin: 0 auto;
	padding: 30px;
	bottom-margin: -50px;
}

.main-content, #connect {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding: 40px;

}

.main-content {
	width: 60%;
	float: left;
}

#connect {
	width: 20%;
	float: right;
}

footer {
	border-top: thick solid #4aaaa5;
	text-align: center;
	background-color: #666666;
	color: #dddddd;
	padding: 20px 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
}

/* About Page */

#bio-image {
	width: 200px;
	height: auto;
	float: left;
	margin: 10px 20px;
}

/* Portfolio Page */

.project {
	display: inline-block;
	width: 45%;
	margin: 0 2% -8% 2%; 
	overflow: hidden;
}

.project-image {
	width: 100%;
	height: auto;
}

.project-title {
	position: relative;
	top: -80px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	opacity: .9;
	padding: 0;
}

.project-title h2 {
	color: white;
}

/* Contact Page */

input, textarea {
	width: 100%;
	padding: 5px;
	font-size: 12px;
	margin: 10px 0;
}

/* Connect Links */

#connect {
	text-align: center;
}

#connect h3 {
	text-align: left;
}

.connect-icon {
	width: 50px;
	height: auto;
}

.connect-links {
	width: 100%;
}

/* Clear Fix */

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* Media Queries */

@media (max-width: 980px) {
	header {
		width: 80%;
		padding: 0 10%;
	}

	nav a {
		font-size: 16px;
	}

	.container {
		width: 80%;
	}

	.main-content {
		width: 50%;
	}

	#connect {
		width: 25%;
	}

	#bio-image {
		width: 100%;
		margin: 0 auto;
		height: auto;
		float: none;
	}

	.project {
		width: 100%;
	}
}

@media (max-width: 768px) {
	header {
		width: 90%;
		padding: 0 5%;
	}

	nav {
		font-size: 16px;
	}

	.container {
		display: block;
		width: 90%;
		margin: 0 auto;
	}

	.main-content {
		display: block;
		width: 90%;
		margin: 0 auto;
		float: left;
		margin-bottom: 40px;
	}

	#connect {
		display: block;
		width: 90%;
		margin: 0 auto;
		float: left;
	}

	#bio-image {
		width: 300px;
		height: auto;
		float: left;
		margin: 10px;
	}

	.project {
		width: 45%;
	}
}

@media (max-width: 640px) {
	header {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#main-logo {
		width: 100%;
		text-align: center;
	}

	nav {
		width: 100%;
		text-align: center;
		margin:0;
		padding: 0;
	}

	nav li {
		display: inline-block;
		min-width: 32.6%;
	}

	nav li a {
		width: 95%;
		margin: 0;
		padding: 0;
		font-size: 16px;
	}

	nav li a:hover {
		padding: 0;
		margin: 0;
	}

	.project {
		width: 100%;
	}
}